header{
    background-color: #000fff;
}

h1,h2{
    font-family: sans-serif;
}

p{
    color: #008000;
}
.linksnavegacao{
    font-weight: bold;
}

.container{
    padding: 20px;
}

.conteudo{
    line-height: 1.5;
}
.formulariocontato{
    padding: 10px;
}